body {
  background: #6b4397;
}

.profile {
  display: inline-block;
  width: 250px;
  height: 250px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 1.5em;
  margin: 1em;
  background-color: white;
  border-radius: 4px;
  text-transform: capitalize;
  color: #2f2f2f;
}

.profile_name {
  padding: 0;
  margin: 0;
  margin-top: 1em;
}

.profile_location {
  padding: 0;
  margin: 0;
  color: #3f3f3f;
  font-size: 0.8em;
}

.profile_image {
  border-radius: 50%;
}

.profile_gender,
.profile_nat {
  width: 20px;
  height: 20px;
}
